.RollDice {
  display: flex;
  justify-content: center;
}

.RollDice-button {
  font-size: 1.2rem;
  font-weight: 600;
  width: 15rem;
  padding: 1.5rem;
  border: 0px;
  border-radius: 2rem;
  color: #2d4059;
  background-color: #decdc3;
  margin-top: 3rem;
}

.RollDice-button:hover {
  color: #decdc3;
  background-color: #ea5455;
  cursor: pointer;
}
